# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# Entorno virtual
venv/
env/
.venv/

# Variables de entorno
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/node_modules/

# Build
frontend/dist/

# Alembic
alembic/versions/*.pyc

# Database
*.db

# Logs
pip_log.txt

# Test scripts
test_api.py
